<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Image to Text</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
    <div class="container">
      {% include "includes/messages.html" %}
    </div>

    <div id='main' class='text-center'><br><br>
      <div id="formarea"> 
        <form method="POST" enctype='multipart/form-data'>
          <h1> REGISTER </h1>
          <input type='file' name='photo' style='margin-left: 25%'>
          <input class='btn btn-dark' type='submit' value="PROCESS">
          <br><br><hr><br>

          <h3><a href='/login' style="color: black;"> Click for Login </a></h3>
        </form>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>

  <style>
    body {
      margin: auto;
    }

    #main {
      width: 500px;
      height: 80%;
      margin: auto;
      margin-top: 5%;
      border-radius: 15px;
      border-style: solid;
      border-color: black;
    }

    input {
      margin: 10px;
    }

    h1 {
      margin-bottom: 20px;
    }

    #formarea {
      margin: auto;
      margin-top: 5%;
      margin-bottom: 5%;
      margin-left: 20%;
      margin-right: 20%;
  }
    
  </style>

</html>





