
{% from "includes/formhelpers.html" import render_field %}
<html>
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class='text-center'>
    <br><br>

    <div id="main"> 
        <h3>LOGIN</h3>
        <hr>
        <form method="post" class="form-signin">
            {{ render_field(form.username) }}
          <br>
            {{ render_field(form.password) }}
    
          <hr>
          <button type="submit">Login</button>
        </form>
    </div>
</body>

<style>
    body {
        margin: auto;
    }

    #main {
        width: 500px;
        height: 50%;
        margin: auto;
        margin-top: 3%;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
    }

    #formarea {
        margin: auto;
        margin-top: 10%;
        margin-bottom: 5%;
        margin-left: 20%;
        margin-right: 20%;
    }

</style>

</html>
